
{% extends 'base.html' %}
{% block title %} Home  {% endblock %}
{% block content %}
{% load static %}

	<!-- banner -->
	<div class="slider">
		<div class="callbacks_container">
			<ul class="rslides callbacks callbacks1" id="slider4">
				<li>
					<div class="banner-top1">
						<div class="banner-info_agile_w3ls">
							<div class="container">
								<h3>Medical services that you
									<span>can trust</span>
								</h3>
								<p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation
									ullamco.</p>
								<a href="">Read More
									<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-top2">
						<div class="banner-info_agile_w3ls">
							<div class="container">
								<h3>Medical excellence
									<span>every day</span>
								</h3>
								<p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation
									ullamco.</p>
								<a href="about.html">Read More
									<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-top3">
						<div class="banner-info_agile_w3ls">
							<div class="container">
								<h3>The Hospital of the
									<span>future, today</span>
								</h3>
								<p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation
									ullamco.</p>
								<a href="about.html">Read More
									<i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

<div class="container" style="background-color:black">
	<h1 class="text-center text-white">OUR SERVICES</h1>
		<div class="w3ls-titles text-center mb-5">
			<span>
				<i class="fas fa-user-md"></i>
			</span>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'images/b.jfif' %}" style="width:90%;margin-top:4%;height:300px;border-radius:50%">
					<div class="content">
                		<p align="center">General Health Care</p>
            		</div>
			</div>
			<div class="col-md-4">
				<img src="{% static 'images/c.jfif' %}" style="width:90%;margin-top:4%;height:300px;border-radius:50%">
					<div class="content">
                		<p align="center">Mental Health Care</p>
            		</div>
			</div>
			<div class="col-md-4">
				<img src="{% static 'images/a.png' %}" style="width:90%;margin-top:4%;height:300px;border-radius:50%">
					<div class="content">
                		<p align="center">Cardiac Clinic</p>
            		</div>
			</div>
		</div>
</div>

	{% endblock %}