x{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment List{% endblock %}

{% block content %}

	<!-- banner 2 -->
	<div class="inner-banner-w3ls">
		<div class="container">

		</div>
		<!-- //banner 2 -->
	</div>


	<!-- team -->
	<section class="team py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title">Mental Health Counsellor</h3>
				<span>
					<i class="fas fa-user-md"></i>
				</span>
			</div>

			</div>
			<div class="container pt-5 pb-5" id="about">
			<div class="row">
				<div class="col-md-4">
					<h1>Surbhi Mayank</h1>
					<p class="pt-2">
						Hello, I am a Therapist. I have done my MBBS from MNNIT and I am currently working in Narayani Hospital, Allahabad
						from 10 AM to 1 PM. You can reach out to me via whatsapp for any queries. <br>
						<a href="https://wa.me/919565543159?text=Help">
							<i class="fab fa-whatsapp" style="color: green; font-size: 30px;"></i>
						</a>
					</p>
				</div>
				<div class="col-md-4">
					<h1>Sakshi Gupta</h1>
					<p class="pt-2">
						Hello, I am a Counsellor. I have done my MBBS from MIT and I am currently working in Seema Clinic, Buxar
						from 10 AM to 4 PM. You can reach out to me via whatsapp for any queries. <br>
						<a href="https://wa.me/917754072259?text=Help">
							<i class="fab fa-whatsapp" style="color: green; font-size: 30px;"></i>
						</a>
					</p>
				</div>
				<div class="col-md-4">
					<h1>Ishita Singh</h1>
					<p class="pt-2">
						Hello, I am a Disorder Analyst. I have done my MSc from DMC and I am currently working in Vayodha Hospital, Delhi
						from 9 AM to 5 PM. You can reach out to me via whatsapp for any queries. <br>
						<a href="https://wa.me/917500638153?text=Help">
							<i class="fab fa-whatsapp" style="color: green; font-size: 30px;"></i>
						</a>
					</p>
				</div>
<!--				<div class="col-md-1"></div>-->
<!--				<div class="col-md-5 img-fluid img-responsive w-100">-->
<!--					<img src="static/images/Surbhi.jpg" class="img-fluid img-responsive w-100" style="border-radius: 20px;">-->
<!--				</div>-->
			</div>
		</div>
	</section>
	<!-- team -->

<div class="content" >
	<p align="center" style="color:green;font-size:40;font-family:Italic"><b>Our Team is Our Strength & Our Strength is Our Team!</b></p>
</div>
{% endblock %}