	<!-- footer -->
	<footer>
		<div class="w3ls-footer-grids pt-sm-4 pt-3">
			<div class="container py-xl-5 py-lg-3">
				<div class="row">
					<div class="col-md-4 w3l-footer">
						<h2 class="mb-sm-3 mb-2">
							<a href="index.html" class="text-white font-italic font-weight-bold">
								Life<span>Chek</span>
								<i class="fas fa-heartbeat ml-2"></i>
							</a>
						</h2>
						<p>We are living amidst an ongoing pandemic. So devastating is its effects that the world is under a
						temporary yet indefinite lockdown. At this time the only people who are working day in and day out
						are the doctors.</p>
					</div>
					<div class="col-md-4 w3l-footer my-md-0 my-4">
						<h3 class="mb-sm-3 mb-2 text-white">Address</h3>
						<ul class="list-unstyled">
							<li>
								<i class="fas fa-location-arrow float-left"></i>
								<p class="ml-4">Narayani Medic Care,
									<span>Civil Lines,</span> Allahabad</p>
								<div class="clearfix"></div>
							</li>
							<li class="my-3">
								<i class="fas fa-phone float-left"></i>
								<p class="ml-4">+91-7754072259</p>
								<div class="clearfix"></div>
							</li>
							<li>
								<i class="far fa-envelope-open float-left"></i>
								<a href="mailto:info@example.com" class="ml-3">surbhi@gmail.com</a>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>
					<div class="col-md-4 w3l-footer">
						<h3 class="mb-sm-3 mb-2 text-white">Quick Links</h3>
						<div class="nav-w3-l">
							<ul class="list-unstyled">
								<li>
									<a href="/">Home</a>
								</li>

								<li class="mt-2">
									<a href="{% url 'doctor' %}">Doctors</a>
								</li>
								<li class="mt-2">
									<a href="{% url 'doctor-appointment' %}">Appointment</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->